<!DOCTYPE html>
<html>
<head>
    <title>Shopping</title>
</head>

<body>
    <% include ./parts/navbar %>
    <h1>Header in the boiler</h1>
    <%- body -%>
    <% include ./parts/footer %>
</body>

</html>