<% layout('boilerplate') -%>

<h1>Time to Shop!</h1>
<p>Here you will find great products</p>
<p>Sign up to start buying great products!</p>

<h3>Start your search here</h3>
<p>Our prices are some of the best on the web</p>

<h3>Add products to your shopping cart</h3>
<p>The more products you buy together, the more you save!</p>